.header{
    /* padding: 0px 20px;
    margin: 0;
    text-align: left;
    background-color: #21222a;
    width: 100vw;
   height:90px;
   display: flex;
   flex-direction: row;
   align-items: center; */
  
   display: flex;
   align-items: center;
   background-color: #21222a;
   height: 90px;
   margin: 0;
   margin-bottom: 50px;
   padding: 30px 25px;
}
.header img{
    height: 30px;
    margin-right: 7px;

}
.header-text{
    margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}
